<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="callout callout--primary">
        <div class="grid grid--1X2">
            <div class="callout__content">
                <h2 class="callout__heading">Ready to Get Started</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi facilis atque aut impedit omnis beatae corrupti dolore commodi qui!</p>
            </div>
            <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
        </div>
    </div>
</body>
</html>