<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="media">
        <div class="media__image">
            <span class="icon icon__snap"></span>
        </div>
        <div class="media__body">
            <h3 class="media__title">John Smith</h3>
            <p>ABC Company</p>
        </div>
    </div>
</body>
</html>