<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Obcaecati culpa nulla voluptatem repellendus distinctio placeat officia, quia nisi natus voluptates.
        </p>
        <footer>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary quote__line" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 2">
                        <path d="M0 0h50v2H0z"/>
                      </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author">John Smith</h3>
                    <p class="quote__organization">ABC Company</p>
                </div>
            </div>
        </footer>
    </blockquote>
</body>
</html>