<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1X2">
        <picture class="block-showcase__image">
            <source type="image/webp" srcset="./images/ipad.webp 1x, ./image/ipad@2x.webp 2x">
            <source type="image/png" srcset="./images/ipad.png 1x, ./image/ipad@2x.png 2x">
            <img src="./images/ipad@2x.png" alt="ipad">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <span class="icon icon__snap"></span>
                    </div>
                    <div class="media__body">
                    <h3 class="media__title">Easy Start & Managed Updates</h3>
                    <p>Our cloud plans include easy onboarding for new and existing sites and
                        managed WordPress and WooCommerce auto-updates.
                    </p>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <span class="icon icon__growth"></span>
                    </div>
                    <div class="media__body">
                    <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                    <p>Our cloud plans include easy onboarding for new and existing sites and
                        managed WordPress and WooCommerce auto-updates.
                    </p>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <span class="icon icon__wordpress"></span>
                    </div>
                    <div class="media__body">
                    <h3 class="media__title">Dynamic Caching & More</h3>
                    <p>Our cloud plans include easy onboarding for new and existing sites and
                        managed WordPress and WooCommerce auto-updates.
                    </p>
                </div>
            </li>
        </ul>
    </div> 
</section>