<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="block">
        <header class="block__header">
            <h2>What our Customer are Saying</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugiat fugit nobis, dolorum dolor eius tempore aut vel adipisci delectus!
            </p>
        </header>
        <div style="padding: 5rem;">
            <div class="card testimonial">
                <div class="grid grid--1X2">
                    <div class="testiomial__image-container">
                        <img class="testiomial__image" src="./images/testimonial.jpg" alt="A happy, smiling customer.">
                        <span class="icon-container icon-container--accent">
                               <div class="icon icon__quote"></div>
                        </span>
                    </div>
                    <blockquote class="quote">
                        <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Obcaecati culpa nulla voluptatem repellendus distinctio placeat officia, quia nisi natus voluptates.
                        </p>
                        <footer>
                            <div class="media">
                                <div class="media__image">
                                    <span class="icon icon__line quote__line"></span>
                                </div>
                                <div class="media__body">
                                    <h3 class="media__title quote__author">John Smith</h3>
                                    <p class="quote__organization">ABC Company</p>
                                </div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
</body>
</html>